@tailwind base;
@tailwind components;
@tailwind utilities;
 *{
    font-family: 'Times New Roman', Times, serif;
}
html {
    scroll-behavior: smooth;
}

body{
    background-color: darkslateblue;
}

